---
---

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #99c1f1 !default;
$header-bg-color-secondary: #014963 !default;

$section-headings-color: #014963 !default;


@import "{{ site.theme }}";

/* smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* header buttons */

.header-buttons {
  margin-top: 1.5rem;
}

.header-buttons .btn {
  margin: 0.4rem;
}

/* section spacing */

.section-block {
  margin: 3rem 0;
}