<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ site.title }}</title>

<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body class="landing">

<div class="landing-wrapper">

  <div class="landing-hero">

    <h1 class="project-name">{{ site.title }}</h1>
    <h2 class="project-tagline">{{ site.data.landing.description }}</h2>

    <div class="edition-buttons">
      {% for e in site.data.editions %}
      <a class="btn" href="{{ e.url | relative_url }}">
        {{ e.year }}
      </a>
      {% endfor %}
    </div>

  </div>

</div>

</body>
</html>
